/* special list */
.list {

}

.listUl {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.listUl label {
  background-color: green;
}

.listOpen {
  transition: all 0.3s ease;
  height: auto;
}

.choosen {
  background-color: red;
}

.list input {
  display: none;
}